<!DOCTYPE html>
<webobject name = "HTML">
	<webobject name = "Head">
		<meta name="viewport" content="width=device-width,initial-scale=1"/>
		
		<webobject name = "StyleSheet" />
		<webobject name = "IsDevelopment"><webobject name = "DevStyleSheet"/></webobject>
		<webobject name = "FavIcon" />
		<webobject name = "Modernizr"/>
	</webobject>
	<body>
		<header>
			<a id="skipNavigation" href = "#mainContent"><webobject name = "SkipNav" /></a>
			<h1>Site Name</h1>
			<webobject name = "HasLanguages"><webobject name = "Languages"/></webobject>
			<webobject name = "Form">
				<fieldset>
					<legend><webobject name = "LegendString" /></legend>
					<label for = "timeZoneMenu"><webobject name = "TimeZoneLabel" /></label>
					<webobject name = "TimeZoneMenu" />
					<webobject name = "Submit"/>
				</fieldset>
			</webobject>
			<webobject name = "Navigation"/>
		</header>
		<div id="mainContent">
			<webobject name = "Content" />
		</div>
		<webobject name = "DebugFlags" />
		<webobject name = "WOLToolbar"/>
	</body>
</webobject>