<!DOCTYPE html>
<webobject name = "HTML">
	<webobject name = "Head">
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1"/>

		<webobject name = "StyleSheet" />
		<webobject name = "IsDevelopment"><webobject name = "DevStyleSheet"/></webobject>
		<webobject name = "FavIcon" />
		<webobject name = "AppIcon" />
		<webobject name = "Modernizr"/>
		<webobject name = "TimeZoneDetector"/>
	</webobject>
	<body>
		<a id="skipNavigation" href = "#mainContent"><webobject name = "SkipNav" /></a>
		<h1>Site Name</h1>
		<webobject name = "HasLanguages"><webobject name = "Languages"/></webobject>
		<webobject name = "Navigation"/>
		<div id="mainContent">
			<webobject name = "Content" />
		</div>
		<webobject name = "DebugFlags" />
		<webobject name = "WOLToolbar"/>
	</body>
</webobject>