<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE html PUBLIC
    "-//W3C//DTD XHTML 1.1 plus MathML 2.0 plus SVG 1.1//EN"
    "http://www.w3.org/2002/04/xhtml-math-svg/xhtml-math-svg.dtd">
<webobject name = "HTML">
	<webobject name = "Head">
		<webobject name = "StyleSheet" />
		<webobject name = "IsDevelopment"><webobject name = "DevStyleSheet"/></webobject>
		<webobject name = "FavIcon" />
		<webobject name = "Modernizr"/>
	</webobject>
	<body>
		<div id="skipNavigation">
			<a href = "#mainContent"><webobject name = "SkipNav" /></a>
		</div>
		<webobject name = "Navigation"/>
		<!-- Inline style to trigger hasLayout in IE -->
		<div style="position:absolute;">
			<a id="mainContent">&#160;</a>
		</div>
		<webobject name = "Content" />
		<webobject name = "HasLanguages"><webobject name = "Languages"/></webobject>
		<webobject name = "Form">
			<fieldset>
				<legend><webobject name = "LegendString" /></legend>
				<label for = "timeZoneMenu"><webobject name = "TimeZoneLabel" /></label>
				<webobject name = "TimeZoneMenu" />
				<webobject name = "Submit"/>
			</fieldset>
		</webobject>
		<webobject name = "DebugFlags" />
	</body>
</webobject>