<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE html PUBLIC
    "-//W3C//DTD XHTML 1.1 plus MathML 2.0 plus SVG 1.1//EN"
    "http://www.w3.org/2002/04/xhtml-math-svg/xhtml-math-svg-flat.dtd">
<webobject name = "HTML">
	<webobject name = "Head">
		<webobject name = "StyleSheet" />
		<webobject name = "RSSLink" />
		<webobject name = "FavIcon" />
	</webobject>
	<body>
		<div id="skipNavigation">
			<a href = "#mainContent"><webobject name = "SkipNav" /></a>
		</div>
		<div id="pageHeader">
			<h1 id="siteLogo"><webobject name = "LandingLink" /></h1>
		</div>
		<div id="pageContent" class="colMask leftMenu">
			<div class="colLeft">
				<div class="col1">
					<webobject name = "BreadCrumbTrail" />
					<!-- Inline style to trigger hasLayout in IE -->
					<span style="position:absolute;">
						<a id="mainContent">&#160;</a>
					</span>
					<webobject name = "Content" />
				</div>
				<div class="col2">
					<webobject name = "MenuHeader" />
					<webobject name = "RSSButton" />
					<webobject name = "PodcastButton" />
					<webobject name = "DebugFlags" />
				</div>
			</div>
		</div>
		<div id="pageFooter"></div>
		
		<!-- These extra divs/spans may be used as catch-alls to add extra imagery. -->
		<div id="extraDiv1"><span></span></div>
		<div id="extraDiv2"><span></span></div>
		<div id="extraDiv3"><span></span></div>
		<div id="extraDiv4"><span></span></div>
		<div id="extraDiv5"><span></span></div>
		<div id="extraDiv6"><span></span></div>
	</body>
</webobject>