<webobject name = "PageWrapper">
	<webobject name = "LoginForm">
		<fieldset>
			<legend><webobject name = "LoginLegend"/></legend>
			<webobject name = "UsernameLabelElement"><webobject name = "UsernameLabel"/></webobject><webobject name = "UsernameField"/>
			<webobject name = "PasswordLabelElement"><webobject name = "PasswordLabel"/></webobject><webobject name = "PasswordField"/>
			<webobject name = "LoginRequestType"/>
			<webobject name = "SignIn"/>
			<webobject name = "ShowReturn"><webobject name = "Return"/></webobject>
		</fieldset>
	</webobject>
</webobject>