<webobject name = "PageWrapper">
	<webobject name = "LoginForm">
		<fieldset>
			<legend><webobject name = "LoginLegend"/></legend>
			<label><span><webobject name = "UsernameLabel"/></span><webobject name = "UsernameField"/></label>
			<label><span><webobject name = "PasswordLabel"/></span><webobject name = "PasswordField"/></label>
			<webobject name = "LoginRequestType"/>
			<webobject name = "SignIn"/>
			<webobject name = "ShowReturn"><webobject name = "Return"/></webobject>
		</fieldset>
	</webobject>
</webobject>