<webobject name = "HasBatches">
	<div class="batchIndexes">
		<span class="first"><webobject name = "FirstBatch"/></span>
		<webobject name = "HasFirstEllipsis">
			<span class="ellipsis">...</span>
		</webobject>
		<webobject name = "MiddleSpan">
			<webobject name = "BatchRepetition">
				<webobject name = "MiddleBatch"/>
			</webobject>
		</webobject>
		<webobject name = "HasLastEllipsis">
			<span class="ellipsis">...</span>
		</webobject>
		<span class="last"><webobject name = "LastBatch"/></span>
	</div>
</webobject>
<webobject name = "HasAvailableBatchSizes">
	<ul class="batchSizes">
		<webobject name = "AvailableBatchSizes">
			<li><webobject name = "BatchSizeLink"/></li>
		</webobject>
	</ul>
</webobject>
