<webobject name = "Show">
	<div id = "debugFlags">
	  <webobject name = "Script">
	    function ERD2WDebugFlags_cssDebug() {
	        var newSS;
	        newSS=document.getElementById('debug-stylesheet');
	        if(newSS){
	            newSS.href=null;
	            document.documentElement.childNodes[0].removeChild(newSS);
	        } else {
	            newSS=document.createElement('link');
	            newSS.rel='stylesheet';
	            newSS.type='text/css';
	            newSS.href='<webobject name = "CSSUrl" />';
	            newSS.id='debug-stylesheet';
	            document.documentElement.childNodes[0].appendChild(newSS);
	        }
	    }
	  </webobject>
	  <ul>
	    <li>
	      <webobject name = "Log4J">Log4J</webobject>
	    </li>
	    <li>
	      <webobject name = "D2W">D2W</webobject>
	    </li>
	    <li>
	      <webobject name = "CSS">CSS</webobject>
	    </li>
	    <li>
	      <webobject name = "SQL">Toggle SQL</webobject>
	    </li>
	    <li>
	      <webobject name = "Clear">Clear D2W Cache</webobject>
	    </li>
	    <li>
	      <webobject name = "Dump">Created keys</webobject>
	    </li>
	    <li>
	      <webobject name = "Localization">Localization</webobject>
	    </li>
	    <li>
	      <webobject name = "WOStats">WOStats</webobject>
	    </li>
	    <li>
	      <webobject name = "Test">Run Test</webobject>
	    </li>
	  </ul>
	</div>
</webobject>