<webobject name = "PageWrapper">
  <webobject name = "ContentWrapper">
    <webobject name = "EditingForm">
      <fieldset class = "editFieldset">
        <legend><webobject name = "EntityName" /></legend>
        <webobject name = "ValidationErrors" />
        <webobject name = "InfoPanel" />
        <ul>
          <webobject name = "AttributeRepetition">
            <li>
              <webobject name = "ComponentName" />
              <webobject name = "ComponentDebug" />
            </li>
          </webobject>
        </ul>
        <div class = "actionGroup">
          <webobject name = "SaveButton"><webobject name = "SaveButtonContent" /></webobject>
          <webobject name = "CancelButton"><webobject name = "CancelButtonContent" /></webobject>
          <webobject name = "ActionBar" />
          <webobject name = "Controller" />
        </div>
      </fieldset>
    </webobject>
  </webobject>
</webobject>