<webobject name = "IsPlainText">
-- 
This message was sent by 
<webobject name = "Sender"/>, <webobject name = "StreetAddress"/>, <webobject name = "City"/>, <webobject name = "State"/> <webobject name = "ZipCode"/>
To unsubscribe, please visit:
<webobject name = "UnsubscribeURL"/>
</webobject>
<webobject name = "IsHTML">
<div>
	<webobject name = "WebBug"/>
	This message was sent by <webobject name = "Sender"/>, <webobject name = "StreetAddress"/>, <webobject name = "City"/>, <webobject name = "State"/> <webobject name = "ZipCode"/>
	<br/>To unsubscribe, <webobject name = "UnsubscribeLink"/>
</div>
</webobject>