<webobject name = "PageWrapper">
  <webobject name = "ComponentDiv">
    <webobject name = "HasObject">
      <webobject name = "Help" />
      <webobject name = "AboveDisplayPropertyKeys" />
      <webobject name = "Banner" />
      <webobject name = "AttributeRepetition">
        <webobject name = "PropertyName" />
        <webobject name = "ComponentDebug" />
        <webobject name = "AttributeWrapper"><webobject name = "AttributeValue" /></webobject>
      </webobject>
      <webobject name = "ActionGroup" />
      <webobject name = "BelowDisplayPropertyKeys" />
    </webobject>
    <webobject name = "MissingObject">
      <webobject name = "EmptyMessage" />
      <webobject name = "ActionGroup" />
    </webobject>
  </webobject>
</webobject>