<webobject name = "PageWrapper">
    <h1>
      <webobject name = "HeaderLink">Log4J Configuration for <webobject name = "ApplicationName" /></webobject>
    </h1>
    <webobject name = "FilterForm">
      <fieldset>
        <legend>Filter Listed Loggers</legend>
        <label>Filter <webobject name = "TextFieldFilterString" /></label>
        <webobject name = "SubmitButtonFilter" />
        <webobject name = "SubmitButtonResetFilter" />
      </fieldset>
    </webobject>
    <webobject name = "AddLoggerForm">
      <fieldset>
        <legend>Add a Logger</legend>
        <label>Logger <webobject name = "TextFieldLoggerName" /></label>
        <webobject name = "AddLoggerButton" />
      </fieldset>
    </webobject>
    <webobject name = "RulesForm">
      <fieldset>
        <legend>Log Rule System Rules</legend>
        <label>Rule Rhs <webobject name = "TextFieldRuleKey" /></label>
        <webobject name = "SubmitButtonAddRuleKey" />
      </fieldset>
    </webobject>
    <webobject name = "LoggerTableForm">
      <div>
        <webobject name = "UpdateButton" />
        <webobject name = "ShowAllButton" />
        <webobject name = "ShowExplicitButton" />
      </div>
      <table cellpadding = "0" cellspacing = "0" border = "0" id="log4j">
      	<col/>
      	<col/>
      	<col/>
      	<thead>
      		<tr>
	      		<th>Name</th>
	      		<th>Level</th>
	      		<th>Options</th>
	      	</tr>
      	</thead>
        <tbody>
          <webobject name = "RepetitionLoggers">
            <webobject name = "TableRow">
              <webobject name = "LoggerName"><webobject name = "StringLoggerName" /></webobject>
              <td><webobject name = "StringLoggerLevel" /></td>
              <td>
                <webobject name = "DebugLabel">
                  <webobject name = "RadioButtonDebugLevel" />
                  <webobject name = "B1">Debug</webobject>
                </webobject>
                <webobject name = "InfoLabel">
                  <webobject name = "RadioButtonInfoLevel" />
                  <webobject name = "B2">Info</webobject>
                </webobject>
                <webobject name = "WarnLabel">
                  <webobject name = "RadioButtonWarnLevel" />
                  <webobject name = "B3">Warn</webobject>
                </webobject>
                <webobject name = "ErrorLabel">
                  <webobject name = "RadioButtonErrorLevel" />
                  <webobject name = "B4">Error</webobject>
                </webobject>
                <webobject name = "FatalLabel">
                  <webobject name = "RadioButtonFatalLevel" />
                  <webobject name = "B5">Fatal</webobject>
                </webobject>
                <webobject name = "OffLabel">
                  <webobject name = "RadioButtonOffLevel" />
                  <webobject name = "B6">Off</webobject>
                </webobject>
                <webobject name = "UnsetLabel">
                  <webobject name = "RadioButtonUnsetLevel" />
                  <i>Unset</i>
                </webobject>
              </td>
            </webobject>
          </webobject>
        </tbody>
      </table>
      <div>
        <webobject name = "UpdateButton" />
        <webobject name = "ShowAllButton" />
        <webobject name = "ShowExplicitButton" />
      </div>
    </webobject>
    <webobject name = "ConversionPatternForm">
      <fieldset>
        <legend>Log Conversion Pattern</legend>
        <label>Conversion Pattern <webobject name = "ConversionPatternString" /></label>
        <a href = "http://logging.apache.org/log4j/docs/api/org/apache/log4j/PatternLayout.html">?</a>
        <webobject name = "UpdateConversionPatternButton" />
      </fieldset>
    </webobject>
    <hr />
    <pre><webobject name = "LoggerString" /></pre>
</webobject>