{
    attributes = (
        {columnName = dateCreated; name = dateCreated; prototypeName = jodaDateTime; }, 
        {allowsNull = N; name = id; prototypeName = id; }, 
        {
            columnName = password; 
            name = password; 
            prototypeName = varchar50; 
            width = 60; 
        }, 
        {allowsNull = N; columnName = userID; name = userID; prototypeName = id; }
    ); 
    attributesUsedForLocking = (id, password, userID); 
    className = "er.users.model.ERCredential"; 
    classProperties = (dateCreated, password, user); 
    externalName = ERCredential; 
    fetchSpecificationDictionary = {}; 
    name = ERCredential; 
    primaryKeyAttributes = (id); 
    relationships = (
        {
            destination = ERUser; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = userID; }); 
            name = user; 
        }
    ); 
}
