{
    attributes = (
        {
            allowsNull = Y; 
            columnName = activateUserToken; 
            name = activateUserToken; 
            prototypeName = varchar50; 
        }, 
        {
            columnName = activationStatus; 
            name = activationStatus; 
            prototypeName = javaEnum; 
            valueClassName = "er.users.model.enums.ERUserActivationStatus"; 
        }, 
        {columnName = dateCreated; name = dateCreated; prototypeName = jodaDateTime; }, 
        {allowsNull = N; name = id; prototypeName = id; }, 
        {
            allowsNull = N; 
            columnName = mailAddressID; 
            name = mailAddressID; 
            prototypeName = longNumber; 
        }, 
        {
            columnName = password; 
            name = password; 
            prototypeName = varchar50; 
            width = 60; 
        }, 
        {
            allowsNull = Y; 
            columnName = resetRequestDate; 
            name = resetRequestDate; 
            prototypeName = jodaDateTime; 
        }, 
        {
            allowsNull = Y; 
            columnName = resetToken; 
            name = resetToken; 
            prototypeName = varchar50; 
        }, 
        {columnName = subtype; name = subtype; prototypeName = varchar50; }, 
        {columnName = username; name = username; prototypeName = varchar50; }
    ); 
    attributesUsedForLocking = (
        activateUserToken, 
        activationStatus, 
        id, 
        mailAddressID, 
        password, 
        resetToken, 
        subtype, 
        username
    ); 
    className = "er.users.model.ERUser"; 
    classProperties = (
        activateUserToken, 
        activationStatus, 
        challengeResponses, 
        credentials, 
        dateCreated, 
        mailAddress, 
        password, 
        preferences, 
        resetRequestDate, 
        resetToken, 
        roles, 
        subtype, 
        username
    ); 
    entityIndexes = (
        {
            attributes = (username); 
            constraint = distinct; 
            indexType = clustered; 
            name = "ERUser_username_unique_idx"; 
            order = asc; 
        }
    ); 
    externalName = ERUser; 
    fetchSpecificationDictionary = {}; 
    name = ERUser; 
    primaryKeyAttributes = (id); 
    relationships = (
        {
            deleteRule = EODeleteRuleCascade; 
            destination = ERChallengeResponse; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = userID; sourceAttribute = id; }); 
            name = challengeResponses; 
            ownsDestination = Y; 
        }, 
        {
            destination = ERCredential; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = userID; sourceAttribute = id; }); 
            name = credentials; 
        }, 
        {
            deleteRule = EODeleteRuleCascade; 
            destination = ERUserRole; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = erUserId; sourceAttribute = id; }); 
            name = erUserRoles; 
            propagatesPrimaryKey = Y; 
        }, 
        {
            destination = ERCMailAddress; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = mailAddressID; }); 
            name = mailAddress; 
        }, 
        {
            destination = ERCPreference; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = userID; sourceAttribute = id; }); 
            name = preferences; 
        }, 
        {definition = "erUserRoles.erRole"; name = roles; }
    ); 
    restrictingQualifier = "subtype = 'ERUser'"; 
}
