<webobject name = "PageWrapper">
  <webobject name = "ComponentDiv">
    <webobject name = "Help" />
    <webobject name = "AboveDisplayPropertyKeys" />
    <webobject name = "Banner" />
    <webobject name = "EditingForm">
      <fieldset class = "editFieldset">
        <legend><webobject name = "EntityName" /></legend>
        <webobject name = "ValidationErrors" />
        <webobject name = "InfoPanel" />
        <webobject name = "AttributeRepetition">
          <webobject name = "ComponentName" />
          <webobject name = "ComponentDebug" />
        </webobject>
        <webobject name = "ActionGroup" />
      </fieldset>
    </webobject>
    <webobject name = "BelowDisplayPropertyKeys" />
  </webobject>
</webobject>