<webobject name = "PageWrapper">
  <webobject name = "ContentWrapper">
    <webobject name = "HasObject">
      <webobject name = "AttributeRepetition">
        <webobject name = "PropertyName" />
        <webobject name = "ComponentDebug" />
        <webobject name = "AttributeWrapper"><webobject name = "AttributeValue" /></webobject>
      </webobject>
    </webobject>
    <webobject name = "MissingObject"> <webobject name = "EmptyMessage" /> </webobject>
    <webobject name = "ActionGroup">
      <webobject name = "ShowCancel">
        <webobject name = "ReturnButton"><webobject name = "ReturnButtonContent" /></webobject>
      </webobject>
      <webobject name = "IsObjectEditable">
        <webobject name = "EditButton"><webobject name = "EditButtonContent" /></webobject>
      </webobject>
      <webobject name = "IsObjectDeletable">
        <webobject name = "DeleteButton"><webobject name = "DeleteButtonContent" /></webobject>
      </webobject>
    </webobject>
  </webobject>
</webobject>