(
	{
		name = Login;
		directActionName = "Login";
		children = (CreateERUser,ForgotPassword);
		secure = "true";
	},
	{
		name = Logout;
		directActionClass = "ERXDirectAction";
		directActionName = "logout";
		conditions = ("session.objectStore.user.isNonNull");
	},
	{
		name = CreateERUser;
		directActionName = "CreateERUser";
	},
	{
		name = ForgotPassword;
		directActionName = "ForgotPassword";
	}
)