{
    attributes = (
        {columnName = dateCreated; name = dateCreated; prototypeName = jodaDateTime; }, 
        {allowsNull = N; name = id; prototypeName = id; }, 
        {
            columnName = password; 
            name = password; 
            prototypeName = varchar100; 
            width = 128; 
        }, 
        {allowsNull = N; columnName = userID; name = userID; prototypeName = id; }
    ); 
    attributesUsedForLocking = (dateCreated, id, password, userID); 
    className = "er.authexample.model.Credential"; 
    classProperties = (dateCreated, password, user); 
    externalName = Credential; 
    fetchSpecificationDictionary = {}; 
    name = Credential; 
    primaryKeyAttributes = (id); 
    relationships = (
        {
            destination = User; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = userID; }); 
            name = user; 
        }
    ); 
}
