{
    attributes = (
        {columnName = dateCreated; name = dateCreated; prototypeName = jodaDateTime; }, 
        {columnName = emailAddress; name = emailAddress; prototypeName = varchar255; }, 
        {allowsNull = N; name = id; prototypeName = id; }, 
        {
            columnName = password; 
            name = password; 
            prototypeName = varchar100; 
            width = 128; 
        }, 
        {columnName = username; name = username; prototypeName = varchar50; }
    ); 
    attributesUsedForLocking = (dateCreated, emailAddress, id, password, username); 
    className = "er.authexample.model.User"; 
    classProperties = (credentials, dateCreated, emailAddress, password, username); 
    entityIndexes = (
        {
            attributes = (username); 
            constraint = distinct; 
            indexType = clustered; 
            name = "username_idx"; 
            order = asc; 
        }
    ); 
    externalName = User; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {"_javaClientClassName" = User; }; 
    name = User; 
    primaryKeyAttributes = (id); 
    relationships = (
        {
            destination = Credential; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = userID; sourceAttribute = id; }); 
            name = credentials; 
        }
    ); 
}
