<webobject name = "HasLanguages">
  <webobject name = "LanguageForm">
    <fieldset>
      <legend><webobject name = "LanguageLegend" /></legend>
      <div>
        <label for = "languageMenu"><webobject name = "LabelString" /></label>
        <webobject name = "LanguageMenu" />
      </div>
      <div>
        <label for = "timeZoneMenu"><webobject name = "TimeZoneLabel" /></label>
        <webobject name = "TimeZoneMenu" />
      </div>
      <div class = "buttonGroup"> <webobject name = "LanguageButton" /> </div>
    </fieldset>
  </webobject>
</webobject>
<ul id = "userOptions">
  <webobject name = "IsNotAuthenticated">
    <li><webobject name = "LoginLink" /></li>
    <li><webobject name = "NewUser" /></li>
    <li><webobject name = "PasswordReset" /></li>
  </webobject>
  <webobject name = "IsAuthenticated">
    <li><webobject name = "InspectUserLink" /></li>
    <li><webobject name = "EditUserLink" /></li>
    <li><webobject name = "LogoutLink" /></li>
  </webobject>
</ul>
<webobject name = "HasVisibleEntities">
  <div id = "entityOptions">
    <webobject name = "EntitiesForm">
      <fieldset>
        <legend><webobject name = "OptionsLegend" /></legend>
        <label for = "entityPopup"> <webobject name = "PopupLabel" /> </label>
        <webobject name = "SelectEntity" />
        <div class = "buttonGroup">
          <webobject name = "CreateButton" />
          <webobject name = "FindButton" />
        </div>
        <webobject name = "QueryAllLink" />
      </fieldset>
    </webobject>
  </div>
</webobject>