<webobject name = "Show">
	<div id = "debugFlags">
	  <ul>
	    <li>
	      <webobject name = "Log4J">Log4J</webobject>
	    </li>
	    <li>
	      <webobject name = "D2W">D2W</webobject>
	    </li>
	    <li>
	      <webobject name = "SQL">Toggle SQL</webobject>
	    </li>
	    <li>
	      <webobject name = "Clear">Clear D2W Cache</webobject>
	    </li>
	    <li>
	      <webobject name = "Dump">Created keys</webobject>
	    </li>
	    <li>
	      <webobject name = "Localization">Localization</webobject>
	    </li>
	    <li>
	      <webobject name = "WOStats">WOStats</webobject>
	    </li>
	    <li>
	      <webobject name = "Test">Run Test</webobject>
	    </li>
	  </ul>
	</div>
</webobject>